{#
Questo è un commento in Jinja su più righe.
Puoi usarlo per aggiungere spiegazioni dettagliate o
annotazioni nel template.
#}
## General Information 
{% if author -%}
- Developed by: {{ author }}
{% endif -%}
{% if modelType -%}
- Model Type: {{ modelType }}
{% endif -%}
{% if library -%}
- {{ library }} version: {{ libraryVersion }}
{% endif -%}
{% if pythonVersion -%}
- Python version: {{ pythonVersion }}
{% endif -%}

